body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.div-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
  border:solid 5px #ff7ceb;
  border-radius: 8px;
  justify-content: center; /* Centraliza a grid horizontalmente */
  align-content: center;
  gap: 100px;
  width: 70%;
}
select {
  margin: 10px 0;
  padding: 5px;
  border-color: rgb(165, 0, 215);
  border-radius: 8px;
  color: rgb(101, 101, 251);
}
svg {
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 5px;
}